{% extends "base.html" %}
{% block content %}

<!-- 
<div class="card">
    <h5 class="card-header">Featured</h5>
    {% for i in data %}
    <div class="card-body">
      <h5 class="card-title">Ini Adalah Judul</h5>
      <p class="card-text">{{i.message}}</p>
      <a href="#" class="card-link">{{i.negara}}</a>
      <a href="#" class="card-link">{{i.initial}}</a>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
    {% endfor %}
</div>
 -->

<!-- 
<div>
  <a class="btn btn-primary" href="{% url 'pesan' %}" role="button">Tulis Pesan</a>
</div> 
-->

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Pesan
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="post">
          {% csrf_token %}
          <div class="mb-3">
              <label for="" class="form-label">Pesan Anda</label>
              <textarea class="form-control" name="message" rows="3"></textarea>
            </div>
          <div class="mb-3">
            <label for="" class="form-label">Country</label>
            <input type="text" class="form-control" name="negara">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Initial</label>
            <input type="rtext" class="form-control" name="initial">
          </div>
          <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="myInput">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% for i in data %}
<div class="card">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <h5 class="card-title">Judul</h5>
    <p class="card-text">{{i.message}}</p>
    <a href="#" class="btn btn-primary">{{i.negara}}</a>
  </div>
</div>
{% endfor %}

<script>
  var myModal = document.getElementById('exampleModal')
  var myInput = document.getElementById('myInput')

  myModal.addEventListener('shown.bs.modal', function () {
    myInput.focus()
})
</script>

{% endblock %}