{% extends "base.html" %}
{% block content %}


<div class="card">
    <h5 class="card-header">Featured</h5>
    {% for i in data %}
    <div class="card-body">
      <h5 class="card-title">Ini Adalah Judul</h5>
      <p class="card-text">{{i.pesan}}</p>
      <a href="#" class="card-link">{{i.negara}}</a>
      <a href="#" class="card-link">{{i.initial}}</a>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
    {% endfor %}
</div>

<div>
  <a class="btn btn-primary" href="{% url 'pesan' %}" role="button">Tulis Pesan</a>
</div>

{% endblock %}