{% extends "base.html" %}
{% block content %}
<form method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label for="" class="form-label">Pesan Anda</label>
        <textarea class="form-control" name="message" rows="3"></textarea>
      </div>
    <div class="mb-3">
      <label for="" class="form-label">Country</label>
      <input type="text" class="form-control" name="negara">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Initial</label>
      <input type="rtext" class="form-control" name="initial">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

{% endblock %}