{% extends "base.html" %}
{% block content %}
{% block title %} Create A New Blog Post! {% endblock %}
<section>
  <form action="" class="mt-3 mx-lg-5" method="post">
      {% csrf_token %}
      <div class="ms-3 mb-3">
          <label for="">Pesan:</label>
          <input type="text" name="message" class="form-control">
      </div>
      <div class="ms-3 mb-3">
          <label for="">Negara:</label>
          <input type="text" name="negara" class="form-control">
      </div>
      <div class="ms-3 mb-3">
          <label for="">Initial:</label>
          <input type="text" name="initial" class="form-control">
      </div>
      <div class="ms-3 mb-3 d-grid gap-2">
          <button type="submit" class="btn btn-primary">Submit</button>
      </div>
  </form>
</section>

<section>
  {% for i in data %}
  <div class="card border-success mb-3" style="max-width: 18rem;">
    <div class="card-header bg-transparent border-success">Initials: {{i.initial}}</div>
    <div class="card-body text-success">
      <p class="card-text">{{i.pesan}}</p>
    </div>
    <div class="card-footer bg-transparent border-success">Country: {{i.negara}}</div>
    <a href="detail/{{i.id}}" class="stretched-link"></a>
  </div>
  </div>
  {% endfor %}
</section>


{% endblock %}