<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="">
        <div class="form-group">
            <h1> muhammad rizal venayas</h1>
            <p>designer</p>
            <a href="">contact</a>
            <a href="">resume</a>
        </div>
        <div>
            <p>age</p>
            <p>17</p>
        </div>
        <div>
            <p>locatin</p>
            <p>sul-ja</p>
        </div>
        <div>
            <p>email</p>
            <p>riveyas@gmail.com</p>
        </div>
    </form>
</body>
</html>